%h2 Palestras
%h3 #{@proposals.length} submissões, #{@confirmed} aceitas

- if @proposals.empty?
	%p Nenhuma até o momento.

- else
	%table
		%thead
			%tr
				%th Categoria
				%th Título
				%th Palestrante
		%tbody
			- @proposals.each do |proposal|
				%tr
					%td= proposal.category
					%td
						%a{:href => "/proposta/#{proposal.id}"}= proposal.title
					%td= proposal.author

